<mat-toolbar>
  <button matIconButton class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span [routerLink]="'/'" style="cursor: pointer;">
    Chat live
  </span>
  <span class="example-spacer"></span>
  @if (!isLogin()) {
    <button [routerLink]="'/login'" matIconButton class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>login</mat-icon>
    </button>
  } @else {
    <button (click)="logout()" matTooltip="Wyloguj się z ChatLive" matIconButton class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>logout</mat-icon>
    </button>
  }
  <button matIconButton class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<mat-progress-bar
  *ngIf="isLoading$ | async"
  mode="indeterminate"
  color="primary">
</mat-progress-bar>

<router-outlet></router-outlet>
